<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav barra-myfood" mode="side" 
     opened fixedInViewport="true"
     fixedTopGap="60" fixedBottomGap="30">
    <mat-nav-list class="nav-list">
      <a class="itens" routerLink="/cadastros">
        Home
      </a>
      <a class="itens" routerLink="/cadastros/produtos">
        Produtos
      </a>
      <a class="itens" routerLink="/cadastros/usuarios">
        Usuários
      </a>
      <a class="itens" routerLink="/cadastros/clientes">
        Clientes
      </a>
      <a class="itens" routerLink="/cadastros/pedidos">
        Pedidos
      </a>
      <a class="itens" routerLink="/cadastros/categorias">
        Categorias
      </a>
      <a class="itens" routerLink="/cadastros/status">
        Status
      </a>
      <a class="itens" routerLink="/cadastros/lojas">
        Lojas
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>