html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  overflow: hidden;
}

main {
  position: absolute;
  overflow-y: scroll;
  margin-top: 0px !important;
  top: 60px;
  bottom: 30px;
  right: 0px;
  left: 0px;
}

div.tituloListas {
  display: flex;
  justify-content: space-between;
}

div.tituloListas>h1 {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.btnMyFood {
  width: 120px;
  line-height: 32px !important;
  margin-right: 5px !important;
}

button.btnProdutosLista {
  width: 150px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 0px !important;
  width: 100px;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0 1px 1px -2px #0003, 0 1px 2px 0 #00000024, 0 1px 2px 0 #0000001f;
  margin-right: 20px !important;
}

.mat-icon {
  margin-right: 2px !important;
  height: 20px !important;
  width: 20px !important;
  font-size: 18px;
}

.login {
  display: inline-block;
}

.logout {
  display: none !important;
}

.ultima-coluna {
  padding-right: 15px !important;
  text-align: right;
  width: 50px;
}

.alinharNoCentro {
  text-align: center !important;
}


app-barra>mat-sidenav-container>mat-sidenav {
  background-color: #f7d4ab54 !important;
}

.barra-e-commerce {
  border-right: 0px !important;
}

mat-nav-list>a.itens {
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
  color: black !important;
  display: block;
  font-size: 18px !important;
  font-weight: 500 !important;
}

mat-nav-list>a.itens:hover {
  color: #f7941e !important;
}

main>app-produtos>section>mat-card {
  max-width: 250px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

main>app-home>section {
  padding: 40px;
}


table {
  width: 100%;
}

app-listar>table>tbody>tr {
  height: 40px !important;
}

app-listar>table>thead>tr>th:nth-child(1),
app-listar>table>tbody>tr>td:nth-child(1) {
  padding: 0px 10px 0px 10px !important;
  text-align: center;
  width: 30px;
}

app-listar>table>thead>tr>th:nth-child(2),
app-listar>table>tbody>tr>td:nth-child(2) {
  width: 200px;
  padding: 0px 10px 0px 10px !important;
}

app-listar>table>thead>tr>th:nth-child(4) {
  text-align: center;
}

app-listar>table>tbody>tr>td:nth-child(4) {
  width: 60px;
  padding-right: 10px;
  text-align: right;
}

button {
  margin-bottom: 20px;
}

app-listar>table>tbody>tr>td a {
  margin: 0px 5px 0px 5px;
}