<div class="tituloListas">
  <h1>Editar categoria</h1>
</div>
<form>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome" name="nome" [(ngModel)]="categoria.nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrição" name="descricao" [(ngModel)]="categoria.descricao">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="atualizarCategoria()" color="primary">Salvar</button>
      <button mat-raised-button routerLink="/cadastros/categorias">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>